.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem; }

.navbar {
  padding-left: 0rem;
  padding-right: 0rem; }

header {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }

.header_bg {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media (max-width: 994px) {
    .header_bg {
      -webkit-transition: 0s;
      -o-transition: 0s;
      transition: 0s;
      background-color: #1888FF;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.45);
              box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.45); } }

.navbar-collapse {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.navbar-brand {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  -webkit-transition: 0.5;
  -o-transition: 0.5;
  transition: 0.5; }
  .navbar-brand:hover {
    color: #000000; }
    .navbar-brand:hover .logotype {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg); }
  @media (max-width: 994px) {
    .navbar-brand {
      color: #FFFFFF; }
      .navbar-brand:hover {
        color: #FFFFFF; } }

.nav-item {
  padding: 0.5rem 1rem; }
  @media (max-width: 994px) {
    .nav-item {
      padding: 0.5rem 0rem; } }

.nav-link {
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
  padding: 0rem;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: -webkit-linear-gradient(currentColor, currentColor);
  background-image: -o-linear-gradient(currentColor, currentColor);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 0% 2px;
          background-size: 0% 2px;
  -webkit-transition: -webkit-background-size .2s;
  transition: -webkit-background-size .2s;
  -o-transition: background-size .2s;
  transition: background-size .2s;
  transition: background-size .2s, -webkit-background-size .2s; }
  .nav-link:hover {
    -webkit-background-size: 100% 2px;
            background-size: 100% 2px;
    color: #000000; }
  @media (max-width: 994px) {
    .nav-link {
      color: #FFFFFF;
      background-image: none;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .nav-link:hover {
        color: #FFFFFF;
        margin-left: 0.4rem; } }

.logotype {
  position: relative;
  height: 35px;
  width: 35px;
  top: -4px;
  right: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

.bg-nav {
  background-color: #1888FF;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.45);
          box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.45); }

.color-link {
  color: #FFFFFF; }
  .color-link:hover {
    color: #FFFFFF; }

.toggleMenu_close {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh; }

main {
  background: #F4F4F4;
  padding-bottom: 1.25rem; }
  main .banner_bg {
    background: url("../img/banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
            background-size: cover;
    height: 100vh;
    margin-bottom: 2rem; }
    main .banner_bg .banner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 95vh; }
      main .banner_bg .banner .banner-name h1 {
        font-size: 3.6rem; }
        @media (max-width: 994px) {
          main .banner_bg .banner .banner-name h1 {
            font-size: 3rem; } }
        @media (max-width: 768px) {
          main .banner_bg .banner .banner-name h1 {
            font-size: 2.5rem; } }
      main .banner_bg .banner .banner-prof h2 {
        font-size: 2.25rem; }
        @media (max-width: 994px) {
          main .banner_bg .banner .banner-prof h2 {
            font-size: 2rem; } }
        @media (max-width: 768px) {
          main .banner_bg .banner .banner-prof h2 {
            font-size: 1.75rem; } }
      main .banner_bg .banner .banner-skills p {
        font-size: 1.5rem;
        font-weight: 600; }
        @media (max-width: 994px) {
          main .banner_bg .banner .banner-skills p {
            font-size: 1.5rem; } }
  main .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #2C2C2C; }
    @media (max-width: 768px) {
      main .title {
        font-size: 1.5rem; } }
  main .about, main .portfolio, main .maill {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.25);
            box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.25);
    padding: 1.5rem;
    margin-bottom: 2rem; }
  main .about-photo {
    position: relative; }
    @media (max-width: 768px) {
      main .about-photo {
        margin-bottom: 0.5rem; } }
    main .about-photo::before {
      content: "";
      display: block;
      padding-top: 85%; }
    main .about-photo .about-photo_wrapper {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0.5rem; }
      main .about-photo .about-photo_wrapper img {
        height: auto;
        max-width: 100%;
        -o-object-fit: contain;
           object-fit: contain; }
  @media (max-width: 768px) {
    main .about-text h3 {
      text-align: center; } }
  @media (max-width: 576px) {
    main .about-text h3 {
      font-size: 1.5rem; } }
  @media (max-width: 576px) {
    main .about-text p {
      font-size: 0.87rem; } }
  main .progress {
    font-size: 1rem;
    margin-bottom: 0.9rem; }
    @media (max-width: 576px) {
      main .progress {
        font-size: 0.87rem; } }
  main .portfolio .portfolio-photo {
    position: relative;
    margin-bottom: 1.5rem; }
    main .portfolio .portfolio-photo:hover .portfolio-photo_wrapper::before {
      opacity: 1; }
    main .portfolio .portfolio-photo::before {
      content: "";
      display: block;
      padding-top: 85%; }
    main .portfolio .portfolio-photo .portfolio-photo_wrapper {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      main .portfolio .portfolio-photo .portfolio-photo_wrapper::before {
        content: "";
        background: url("../img/icon/zoom-in.svg") no-repeat;
        background-position: 50% 50%;
        -webkit-background-size: 12% 12%;
                background-size: 12%;
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        background-color: rgba(255, 255, 255, 0.7); }
      main .portfolio .portfolio-photo .portfolio-photo_wrapper img {
        height: auto;
        max-width: 100%;
        -o-object-fit: contain;
           object-fit: contain; }
  main .rezume {
    background: url("../img/bg-rezume.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
            background-size: cover;
    height: 50vh;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    main .rezume .rezume-link {
      text-align: center; }
      main .rezume .rezume-link:hover img {
        -webkit-transform: scale(1.2, 1.2);
            -ms-transform: scale(1.2, 1.2);
                transform: scale(1.2, 1.2); }
      main .rezume .rezume-link a img {
        width: 72px;
        margin-bottom: 1rem;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
    main .rezume h4 {
      color: #FFFFFF; }
  main textarea {
    resize: none; }
  main .maill .maill-form .form-control {
    margin-bottom: 1rem; }
    @media (max-width: 576px) {
      main .maill .maill-form .form-control {
        font-size: 0.87rem; } }
  main .maill .maill-form textarea {
    height: 225px; }
    @media (max-width: 576px) {
      main .maill .maill-form textarea {
        height: 150px; } }
  main .maill .maill-form .button-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    main .maill .maill-form .button-center button {
      font-size: 1.25rem; }
      @media (max-width: 576px) {
        main .maill .maill-form .button-center button {
          font-size: 1rem; } }
  main .cube-photo {
    height: 178px;
    width: 178px;
    position: relative;
    left: -10.5px;
    top: -10.5px; }
  main .wrap {
    margin: 0 auto;
    margin-top: 80px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%; }
    @media (max-width: 994px) {
      main .wrap {
        display: none; } }
  main .cube {
    margin: auto;
    position: relative;
    height: 180px;
    width: 180px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
  main .cube > div {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color: #000;
    border: solid 1px #000000;
    color: #ffffff; }
  main .front {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px); }
  main .back {
    -webkit-transform: translateZ(-100px) rotateY(180deg);
            transform: translateZ(-100px) rotateY(180deg); }
  main .right {
    -webkit-transform: rotateY(-270deg) translateX(100px);
            transform: rotateY(-270deg) translateX(100px);
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right; }
  main .left {
    -webkit-transform: rotateY(270deg) translateX(-100px);
            transform: rotateY(270deg) translateX(-100px);
    -webkit-transform-origin: center left;
        -ms-transform-origin: center left;
            transform-origin: center left; }
  main .top {
    -webkit-transform: rotateX(-270deg) translateY(-100px);
            transform: rotateX(-270deg) translateY(-100px);
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center; }
  main .bottom {
    -webkit-transform: rotateX(270deg) translateY(100px);
            transform: rotateX(270deg) translateY(100px);
    -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
            transform-origin: bottom center; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg); } }
  main .cube {
    -webkit-animation: rotate 20s infinite linear;
            animation: rotate 20s infinite linear; }
  main .wrap:hover .front {
    -webkit-transform: translateZ(200px);
            transform: translateZ(200px); }
  main .wrap:hover .back {
    -webkit-transform: translateZ(-200px) rotateY(180deg);
            transform: translateZ(-200px) rotateY(180deg); }
  main .wrap:hover .right {
    -webkit-transform: rotateY(-270deg) translateZ(100px) translateX(100px);
            transform: rotateY(-270deg) translateZ(100px) translateX(100px); }
  main .wrap:hover .left {
    -webkit-transform: rotateY(270deg) translateZ(100px) translateX(-100px);
            transform: rotateY(270deg) translateZ(100px) translateX(-100px); }
  main .wrap:hover .top {
    -webkit-transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
            transform: rotateX(-270deg) translateZ(100px) translateY(-100px); }
  main .wrap:hover .bottom {
    -webkit-transform: rotateX(270deg) translateZ(100px) translateY(100px);
            transform: rotateX(270deg) translateZ(100px) translateY(100px); }
  main .cube > div {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in; }

footer {
  background-color: #1473D9;
  padding: 1.6rem 0rem; }
  footer .link-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem; }
    footer .link-icon a {
      margin: 0rem 0.25rem;
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      transition: 0.8s; }
      footer .link-icon a:hover {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg); }
      footer .link-icon a img {
        width: 38px;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
        @media (max-width: 768px) {
          footer .link-icon a img {
            width: 32px; } }
  footer .copyright p {
    margin-bottom: 0rem;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF; }

* {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a:hover {
  text-decoration: none; }

li {
  list-style-type: none; }

ul {
  padding: 0rem; }

.modal-body {
  font-size: 1.75rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem; }
  @media (max-width: 576px) {
    .modal-body {
      font-size: 1rem;
      margin-bottom: 1rem; } }
